O objetivo do código aqui é testar a estacionariedade das séries de consumo energético antes da imputação dos valores.

In [1]:
import pandas as pd
import utils

In [2]:
df = pd.read_csv("dados/delta.csv", sep=";", decimal=",")
df = df.drop(columns=df.columns.difference([
    'month',
    'energia_total',
    'energia_residencial',
    'energia_industrial',
    'energia_comercial',
    'energia_outros',
]))
df.head(5)

,month,energia_total,energia_residencial,energia_industrial,energia_comercial,energia_outros
0,out/03,NaN,NaN,NaN,NaN,NaN
1,nov/03,NaN,NaN,NaN,NaN,NaN
2,dez/03,NaN,NaN,NaN,NaN,NaN
3,jan/04,NaN,NaN,NaN,NaN,NaN
4,fev/04,-470.187,-351.442,132.565,-97.562,-153.748

In [5]:
df['month'] = df['month'].map(utils.parse_date)
df['month'] = pd.to_datetime(df['month'], format="%Y-%m-%d")
df.head(5)

,month,energia_total,energia_residencial,energia_industrial,energia_comercial,energia_outros
0,2003-10-01,NaN,NaN,NaN,NaN,NaN
1,2003-11-01,NaN,NaN,NaN,NaN,NaN
2,2003-12-01,NaN,NaN,NaN,NaN,NaN
3,2004-01-01,NaN,NaN,NaN,NaN,NaN
4,2004-02-01,-470.187,-351.442,132.565,-97.562,-153.748

In [7]:
df = df.drop([0, 1, 2, 3])
df.head(5)

,month,energia_total,energia_residencial,energia_industrial,energia_comercial,energia_outros
4,2004-02-01,-470.187,-351.442,132.565,-97.562,-153.748
5,2004-03-01,776.158,171.100,466.996,56.588,81.474
6,2004-04-01,761.853,208.669,278.878,243.212,31.095
7,2004-05-01,-801.676,-331.666,-54.579,-341.355,-74.077
8,2004-06-01,-161.545,-186.250,274.924,-265.719,15.501

In [8]:
kpss_results = utils.test_for_stationarity_kpss(df)

C:\Users\guisf\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sktime\param_est\stationarity\_statsmodels.py:253: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is smaller than the p-value returned.

  res = kpss(
C:\Users\guisf\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sktime\param_est\stationarity\_statsmodels.py:253: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is greater than the p-value returned.

  res = kpss(
C:\Users\guisf\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sktime\param_est\stationarity\_statsmodels.py:253: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is greater than the p-value returned.

  res = kpss(
C:\Users\guisf\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sktime\param_est\stationarity\_statsmodels.py:253: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is greater than the p-value returned.

  res = kpss(
C:\Users\guisf\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sktime\param_est\stationarity\_statsmodels.py:253: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is greater than the p-value returned.

  res = kpss(
C:\Users\guisf\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sktime\param_est\stationarity\_statsmodels.py:253: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is greater than the p-value returned.

  res = kpss(

In [9]:
utils.print_stationary_series(kpss_results)

energia_total
energia_residencial
energia_industrial
energia_comercial
energia_outros