O objetivo do código aqui é imputar valores para a série de consumo até jan/2003

In [6]:
import pandas as pd
import numpy as np
import utils
from sktime.transformations.series.impute import Imputer

In [13]:
df = pd.read_csv("dados/dados_crus2003.csv", sep=";", decimal=",")
df = df.drop(columns=df.columns.difference(["month", "energia_total", "energia_residencial", "energia_industrial", "energia_comercial", "energia_outros"]))
df = utils.index_to_period(df)
df

month
2003-01          NaN
2003-02          NaN
2003-03          NaN
2003-04          NaN
2003-05          NaN
             ...
2023-05    43184.814
2023-06    42567.780
2023-07    41941.060
2023-08    43404.361
2023-09    44462.036
Freq: M, Name: energia_total, Length: 249, dtype: float64

In [15]:
for col in df:
    transformer = Imputer()
    df[col] = transformer.fit_transform(df[col])

df.head(15)

,energia_total,energia_residencial,energia_industrial,energia_comercial,energia_outros
month,,,,,
2003-01,27835.693175,6261.628566,13433.371542,4262.997419,3877.695737
2003-02,27901.914888,6290.751559,13440.330518,4279.544853,3891.288047
2003-03,27968.136600,6319.874552,13447.289494,4296.092286,3904.880356
2003-04,28034.358312,6348.997546,13454.248469,4312.639719,3918.472666
2003-05,28100.580025,6378.120539,13461.207445,4329.187153,3932.064975
2003-06,28166.801737,6407.243532,13468.166421,4345.734586,3945.657285
2003-07,28233.023450,6436.366525,13475.125396,4362.282019,3959.249595
2003-08,28299.245162,6465.489519,13482.084372,4378.829452,3972.841904
2003-09,28365.466874,6494.612512,13489.043347,4395.376886,3986.434214
2003-10,28431.688587,6523.735505,13496.002323,4411.924319,4000.026524
2003-11,28497.910299,6552.858498,13502.961299,4428.471752,4013.618833
2003-12,28564.132011,6581.981492,13509.920274,4445.019185,4027.211143
2004-01,26978.358000,6780.680000,12008.852000,4244.837000,3943.989000
2004-02,26508.171000,6429.238000,12141.417000,4147.275000,3790.241000
2004-03,27284.329000,6600.338000,12608.413000,4203.863000,3871.715000

In [ ]:
df.to_csv("dados/energia_cru_2003.csv", sep=";", decimal=",")